<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>450764852779-4vg8d80gm351kvueba0039kb1f44lqmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450764852779-4vg8d80gm351kvueba0039kb1f44lqmr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>450764852779-v1ddmt7rg2cg12p4au02c8vpmlvn6lsg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGqufP8WNEvJP8Ti4KBd4sVgHAJVzGx4k</string>
	<key>GCM_SENDER_ID</key>
	<string>450764852779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easymedicine</string>
	<key>PROJECT_ID</key>
	<string>easymedicine-e3328</string>
	<key>STORAGE_BUCKET</key>
	<string>easymedicine-e3328.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450764852779:ios:cf21d19a8a130c9c</string>
	<key>DATABASE_URL</key>
	<string>https://easymedicine-e3328.firebaseio.com</string>
</dict>
</plist>